{% extends 'productivityHub/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="section login-container">
  <div class="login-box">
    <h2 class="title has-text-centered">Login</h2>
    <form method="post">
      {% csrf_token %}
      
      <!-- Loop through form fields and set placeholders -->
      {% for field in form %}
        <div class="field">
          <div class="control">
            <!-- Use 'password' field type if it's a password field -->
            {% if field.name == 'password' %}
              <input type="password" class="input" name="{{ field.name }}" placeholder="{{ field.label }}">
            {% else %}
              <input type="text" class="input" name="{{ field.name }}" placeholder="{{ field.label }}">
            {% endif %}
          </div>
        </div>
      {% endfor %}
      
      <div class="field">
        <div class="control">
          <button class="button is-primary is-fullwidth" type="submit">Login</button>
        </div>
      </div>
    </form>
    <p class="text">
      Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>
    </p>
  </div>
</section>
{% endblock %}
