{% extends 'productivityHub/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="section login-container">
  <div class="login-box">
    <h2 class="title has-text-centered">Sign Up</h2>
    <form method="post">
      {% csrf_token %}
      
      <!-- Loop through form fields -->
      {% for field in form %}
        <div class="field">
          <div class="control">
            <!-- Check if the field is a password field -->
            {% if field.name == 'password1' or field.name == 'password2' %}
              <!-- Render the password fields with type="password" -->
              <input type="password" class="input" name="{{ field.name }}" placeholder="{{ field.label }}">
            {% else %}
              <!-- Render all other fields normally -->
            <input class="input" type="{{ field.type }}" name="{{ field.name }}" placeholder="{{ field.label }}">
            {% endif %}
          </div>
        </div>
      {% endfor %}

      <div class="field">
        <div class="control">
          <button class="button is-primary is-fullwidth" type="submit">Sign Up</button>
        </div>
      </div>
    </form>
    <p class="text has-text-centered">
      Already have an account? <a href="{% url 'login' %}">Login here</a>
    </p>
  </div>
</section>
{% endblock %}
